.statList {
  display: flex;
}

.statListItem {
  width: calc(100% / 4);
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statListLabel {
  margin-bottom: 4px;
}

.statListPercentage {
  font-size: 20px;
}
